[core]
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
	editor = mate -w
	preloadindex = true
	commentchar = ";"
[user]
	name = Joonas Harjukallio
	email = harjukallio@gmail.com
[github]
	user = harjis
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[difftool]
	prompt = false
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[alias]
	c = checkout
	s = status
	fa = fetch --all
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ms = merge --squash
	rh = reset --hard
[merge]
	tool = opendiff
[pull]
	rebase = true
[init]
	defaultBranch = main
