[core]
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
	editor = subl -n -w
	preloadindex = true
	commentchar = ";"
[user]
	name = Joonas Harjukallio
	email = harjukallio@gmail.com
[github]
	user = harjis
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[difftool]
	prompt = false
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[alias]
	s = status
	b = branch
	f = fetch
	d = difftool
	co = checkout
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pb = remote prune origin
[merge]
	tool = opendiff